<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
      <title>Oakley</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="/page.js"></script>
  </head>
  <body>
    <div class=outer>
        <div class="intro">Ask me about Oakley</div>
        <div class="prompt-area container">
            <form name="form" action="/prompt" method="post" class="search-bar">
                <input type="text" id="prompt" name="prompt" value="<%= prompt %>">
                <button type="submit" id="submit" >Submit</button>
            </form>
        </div>
        <div id="results" class="container result">
            <% if ( page === 'prompt') { %>
                <div name="loading" id="loading-container">
                    <p>Loading...</p>
                </div>
            <% } else { %>
                <div id="resultsText"><%= chatGPTResponse %></div>
            <% } %>
        </div>
    </div>
  </body>
</html>