<!DOCTYPE html>
<html>
  <head>
    <title>Learn About Oakley</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script>
        const reload = () => location.reload();
        let interval
        console.log( location.pathname );
        if (location.pathname === '/prompt') {
            interval = setInterval(reload, 500);
        } else {
          if (interval) clearInterval(interval);
        }
    </script>
  </head>
  <body>
    <form action="/prompt" method="post">
        <label for="prompt">Ask me anything about Oakley:</label>
        <input type="text" id="prompt" name="prompt" value="<%= prompt %>">
        <button id="submit" type="submit">Submit</button>
    </form>
    <div>
        <% if ( page === 'prompt') { %>
            <div id="loading-container">
                <p>Loading...</p>
            </div>
        <% } else { %>
            <div id="results"><%= chatGPTResponse %></div>
        <% } %>
    </div>
  </body>
</html>