<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
      <title>Oakley</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="/page.js"></script>
  </head>
  <body>
    <div class=prompt-area>
        <h3>Ask me about Oakley</h3>
        <form name="form" action="/prompt" method="post" class="search-bar">
            <input type="text" id="prompt" name="prompt" value="<%= prompt %>">
            <button type="submit" id="submit" disabled>Submit</button>
        </form>
    </div>
    <div class=response>
        <% if ( page === 'prompt') { %>
            <div id="loading-container">
                <p>Loading...</p>
            </div>
        <% } else { %>
            <div id="results"><%= chatGPTResponse %></div>
        <% } %>
    </div>
  </body>
</html>