html {
    height: 100%;
}

body {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 25%;
    width: 75%;
    left: 10%;
    right: 0;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 70%;
    margin-right: 10px;
}

.search-bar button {
    background-color: rgb(51, 139, 147);
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-bar button:hover {
    background-color: rgb(182, 244, 146);
    color: rgb(51, 139, 147);
}