html {
    height: 100%;
}

body {
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}


.prompt-area {
    position: absolute;
    padding:10px;
    top: 25%;
    width: 90%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-bar {
    background-color: #fff;
    border-radius: 10px;
    margin:10px;
    padding:10px
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 70%;
    margin-right: 10px;
    border-radius: 10px;
}

.search-bar button {
    position: absolute;
    right: 5%;
    background-color: rgb(51, 139, 147);
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-bar button:disabled {
    cursor: default;
    background-color: rgb(51, 139, 147);
    color: #fff;
}


.search-bar button:hover {
    background-color: rgb(182, 244, 146);
    color: rgb(51, 139, 147);
}

/* Media queries for responsiveness */
@media screen and (max-width: 767px) {
    .search-bar {
    }

    .search-bar input {
        font-size: 18px;
    }

    .search-bar button {
        font-size: 14px;
        right: 8%
    }
}